<head>
    <title>Super Sprinter 3000</title>
    <link rel=stylesheet type=text/css href={{ url_for('static', filename='style.css') }} />
</head>
{% block body %}
    <div align=center>
    <h1>Super Sprinter 3000</h1>
    {% if entries %}
        <div class=container>
    <table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>User Story</th>
        <th>Acceptence criteria</th>
        <th>B.Value</th>
        <th>Estim.</th>
        <th>Status</th>
        <th>Refactor</th>
    </tr>
    {% endif %}
  {% for entry in entries %}
      <tr>
        <td>{{ entry.id }}</td>
        <td>{{ entry.title }}</td>
        <td>{{ entry.story_text }}</td>
        <td>{{ entry.acceptance_criteria }}</td>
        <td>{{ entry.buisness_value }}</td>
        <td>{{ entry.estimation }}</td>
        <td>{{ entry.status }}</td>
        <td><a href="/story/{{ entry.id }}"><img src="/static/edit.png" alt="Edit US" width="20" height="20"></a>
             <a href="/delete/{{ entry.id }}"><img src="/static/delete.png" alt="Delete US" width="20" height="20" onclick="return confirm('Are you sure?')"></a></td>
      </tr>

  {% else %}
      <h2 >Unbelievable.  No entries here so far?!</h2>
  {% endfor %}
</table>
        </div>
    <br>
    <div class="butn"> <a href="/story" >Add new story</a></div>
</div>
{% endblock %}